# 7. 데이터 선택 (loc)
: 이름을 이용하여 원하는 row 에서 원하는 col 선택 (location)  
 -> Row 기준 !

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.loc['1번']

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [3]:
df.loc['5번']

이름      강백호
학교      북산고
키       188
국어       15
영어       20
수학       10
과학       35
사회       10
SW특기    NaN
Name: 5번, dtype: object

In [5]:
df.loc['1번','국어']        # 1번에 해당하는 사람의 국어

90

In [7]:
df.loc[['1번', '2번'],['국어', '영어']]     # 2명

      국어  영어
지원번호
1번    90  85
2번    40  35

In [22]:
df.loc['1번':'5번', '국어':'사회']   # idx 1번부터 5번까지 (5번포함), 국어부터 사회까지 (사회 포함)

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

In [6]:
df.loc['5번':'1번', '국어':'사회']

Empty DataFrame
Columns: [국어, 영어, 수학, 과학, 사회]
Index: []

- row 순서 반대로 (위처럼) 입력하면 안나옴