# 12. 데이터 수정

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Column 수정

In [3]:
# Dictionary 형식으로
df['학교'].replace({'북산고' : '상북고'})   # 북산고 -> 상북고

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    능남고
7번    능남고
8번    능남고
Name: 학교, dtype: object

In [4]:
# 두 개 이상에 대해서 수정
df['학교'].replace({'북산고' : '상북고', '능남고': '무슨고'})

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    무슨고
7번    무슨고
8번    무슨고
Name: 학교, dtype: object

In [5]:
df    # 역시 변화는 x inplace 넣어야함

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
df['SW특기'].str.lower()

지원번호
1번        python
2번          java
3번    javascript
4번           NaN
5번           NaN
6번             c
7번        python
8번            c#
Name: SW특기, dtype: object

In [7]:
# SW특기를 소문자로 저장
df['SW특기'] = df['SW특기'].str.lower()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      python
2번    정대만  북산고  184   40   35   50  55  25        java
3번    송태섭  북산고  168   80   75   70  80  75  javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [8]:
# SW특기를 대문자로 저장
df['SW특기'] = df['SW특기'].str.upper()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      PYTHON
2번    정대만  북산고  184   40   35   50  55  25        JAVA
3번    송태섭  북산고  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [9]:
df['학교'] = df['학교'] + '등학교'   # 학교 데이터 + 등학교
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      PYTHON
2번    정대만  북산고등학교  184   40   35   50  55  25        JAVA
3번    송태섭  북산고등학교  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#

## Column 추가

In [2]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455
2번    정대만  북산고  184   40   35   50  55  25        Java  205
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380
4번    서태웅  북산고  187   40   60   70  75  80         NaN  325
5번    강백호  북산고  188   15   20   10  35  10         NaN   90
6번    변덕규  능남고  202   80  100   95  85  80           C  440
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240
8번    윤대협  능남고  190  100   85   90  95  95          C#  465

In [3]:
df['결과'] = 'Fail'   # 결과 Column을 추가하고 전체 데이터는 Fail로 초기화
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455  Fail
2번    정대만  북산고  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  440  Fail
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  465  Fail

In [4]:
df.loc[df['총합'] > 400, '결과'] = 'Pass'  # 총합 400 이상 데이터 Pass로
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  465  Pass

## Column 삭제

In [8]:
df.drop(columns = ['총합'])    # 총합 Column 삭제. 역시나 반영 x
# 하나만 삭제할때는 [] 없애고 해도 됨

       이름   학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  Pass
2번    정대만  북산고  184   40   35   50  55  25        Java  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  Fail
4번    서태웅  북산고  187   40   60   70  75  80         NaN  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  Pass
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  Pass

In [17]:
# 여러개 삭제
df.drop(columns = ['총합', '영어'])

       이름      학교    키   국어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  북산고등학교  197   90  100  95  85      PYTHON  Pass
2번    정대만  북산고등학교  184   40   50  55  25        JAVA  Fail
3번    송태섭  북산고등학교  168   80   70  80  75  JAVASCRIPT  Fail
4번    서태웅  북산고등학교  187   40   70  75  80         NaN  Fail
5번    강백호  북산고등학교  188   15   10  35  10         NaN  Fail
6번    변덕규  능남고등학교  202   80   95  85  80           C  Pass
7번    황태산  능남고등학교  188   55   45  40  35      PYTHON  Fail
8번    윤대협  능남고등학교  190  100   90  95  95          C#  Pass

## Row 삭제

In [18]:
df.drop(index = '4번')   # 4번 학생 데이터 row를 삭제

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

In [14]:
#df.drop(index = [4,5])

- 4,5번째 데이터를 버리려면 어떻게 ? 위처럼 인덱스 이름 안치고   
 -> df.drop([df.index[4],df.index[5]])

In [19]:
df.drop([df.index[4],df.index[5]])

       이름   학교    키   국어  영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90  85  100  95  85      Python  455  Pass
2번    정대만  북산고  184   40  35   50  55  25        Java  205  Fail
3번    송태섭  북산고  168   80  75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고  187   40  60   70  75  80         NaN  325  Fail
7번    황태산  능남고  188   55  65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  100  85   90  95  95          C#  465  Pass

### 특정 조건 만족하는 데이터 필터링

In [23]:
filt = df['수학'] < 80
df[filt]

       이름      학교    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
2번    정대만  북산고등학교  184  40  35  50  55  25        JAVA  205  Fail
3번    송태섭  북산고등학교  168  80  75  70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  북산고등학교  187  40  60  70  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188  15  20  10  35  10         NaN   90  Fail
7번    황태산  능남고등학교  188  55  65  45  40  35      PYTHON  240  Fail

In [24]:
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [25]:
df.drop(index = df[filt].index)

       이름      학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85  PYTHON  455  Pass
6번    변덕규  능남고등학교  202   80  100   95  85  80       C  440  Pass
8번    윤대협  능남고등학교  190  100   85   90  95  95      C#  465  Pass

## Row 추가

- list 형태로 넣어주면 됨

In [28]:
df.loc['9번'] = ['이정환', ' 해남고등학교', 184, 90, 90, 90
                , 90, 90, 'Kotlin', 450, 'Pass']
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수   북산고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만   북산고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭   북산고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅   북산고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호   북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규   능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산   능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협   능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환   해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

## Cell 수정

In [29]:
df.loc['4번', 'SW특기'] = 'Python'   # 4번 학생의 SW 특기 데이터를 Python으로 변경
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수   북산고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만   북산고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭   북산고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅   북산고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호   북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규   능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산   능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협   능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환   해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

In [31]:
# 여러개 한번에 수정
df.loc['5번', ['학교','SW특기']] = ['능남고등학교','C']
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수   북산고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만   북산고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭   북산고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅   북산고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호   능남고등학교  188   15   20   10  35  10           C   90  Fail
6번    변덕규   능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산   능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협   능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환   해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

## Column 순서 변경

In [35]:
df.columns

pandas.core.indexes.base.Index

In [36]:
type(df.columns)

pandas.core.indexes.base.Index

In [33]:
# Column 이름을 리스트 형태로 가져옴
cols = list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [37]:
type(cols)

list

In [38]:
# 맨 뒤 결과 Column을 앞으로 가져오고 나머지 들과 합쳐서 순서 변경
df = df[[cols[-1]] + cols[0:-1]]
df

        결과   이름       학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    Pass  채치수   북산고등학교  197   90   85  100  95  85      PYTHON  455
2번    Fail  정대만   북산고등학교  184   40   35   50  55  25        JAVA  205
3번    Fail  송태섭   북산고등학교  168   80   75   70  80  75  JAVASCRIPT  380
4번    Fail  서태웅   북산고등학교  187   40   60   70  75  80      Python  325
5번    Fail  강백호   능남고등학교  188   15   20   10  35  10           C   90
6번    Pass  변덕규   능남고등학교  202   80  100   95  85  80           C  440
7번    Fail  황태산   능남고등학교  188   55   65   45  40  35      PYTHON  240
8번    Pass  윤대협   능남고등학교  190  100   85   90  95  95          C#  465
9번    Pass  이정환   해남고등학교  184   90   90   90  90  90      Kotlin  450

- cols[-1] 앞에만 [] 하나 더 붙는 이유 : 하나라서 list가 아닌데 list로 가져오려고
- [0:-1] -> 첫번째부터 맨 마지막 하나 전까지

## Column 이름 변경

In [43]:
# df 에서 3 Columns 만 가져오기 . List 로 감싸는거 !
df = df[['결과','이름','학교']]
df

        결과   이름       학교
지원번호
1번    Pass  채치수   북산고등학교
2번    Fail  정대만   북산고등학교
3번    Fail  송태섭   북산고등학교
4번    Fail  서태웅   북산고등학교
5번    Fail  강백호   능남고등학교
6번    Pass  변덕규   능남고등학교
7번    Fail  황태산   능남고등학교
8번    Pass  윤대협   능남고등학교
9번    Pass  이정환   해남고등학교

In [47]:
df.columns = ['Result', 'Name', 'School']
df

     Result Name   School
지원번호
1번     Pass  채치수   북산고등학교
2번     Fail  정대만   북산고등학교
3번     Fail  송태섭   북산고등학교
4번     Fail  서태웅   북산고등학교
5번     Fail  강백호   능남고등학교
6번     Pass  변덕규   능남고등학교
7번     Fail  황태산   능남고등학교
8번     Pass  윤대협   능남고등학교
9번     Pass  이정환   해남고등학교

### 특정 열 이름 바꾸기

In [52]:
df.rename(columns = {'Result' : 'Res'}, inplace= True)
df

       Res Name   School
지원번호
1번    Pass  채치수   북산고등학교
2번    Fail  정대만   북산고등학교
3번    Fail  송태섭   북산고등학교
4번    Fail  서태웅   북산고등학교
5번    Fail  강백호   능남고등학교
6번    Pass  변덕규   능남고등학교
7번    Fail  황태산   능남고등학교
8번    Pass  윤대협   능남고등학교
9번    Pass  이정환   해남고등학교