# 13. 함수 적용

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [11]:
# 함수 쓰지 않고 바꾸기
df['학교'] = df['학교'] + '등학교'   # 학교 데이터 + 등학교
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python
2번    정대만  북산고등학교  184   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168   80   75   70  80  75  Javascript
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#

In [4]:
#df['키'] = df['키'] + 'cm'

- 키는 정수형 데이터인데 문자인 cm을 붙이려니까 오류 발생

## 데이터에 함수 적용 (apply)

In [4]:
# Cm 을 붙여주는 함수 작성
def add_cm(height):
    return str(height) + 'cm'

In [5]:
df['키'] = df['키'].apply(add_cm)
df

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [14]:
df['키'].describe()  # 하지만 위에서 str 으로 바꿔서 문자 타입인 모습

count         8
unique        7
top       188cm
freq          2
Name: 키, dtype: object

- 한 Column의 타입 확인하는법? 
 -> dtype , info 활용 !

In [17]:
df['키'].dtype

dtype('O')

- dtype('0')  = Object

In [19]:
df.dtypes      # 여러게 볼때는 끝에 s 붙여야함. 하나 할때는 둘다 상관 x

이름      object
학교      object
키       object
국어       int64
영어       int64
수학       int64
과학       int64
사회       int64
SW특기    object
dtype: object

In [28]:
# 첫먼째 글자를 대문자로 나머지는 소문자로 바꿔주는 함수 작성
def capitalize(lang):
    if pd.notnull(lang):   # NaN인지 아닌지 
        return lang.capitalize()   # 여기서 capitalize 함수는 원래 있는 함수
    return lang

In [29]:
df['SW특기'] = df['SW특기'].apply(capitalize)
df

       이름      학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197cm   90   85  100  95  85      Python
2번    정대만  북산고등학교  184cm   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고등학교  187cm   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202cm   80  100   95  85  80           C
7번    황태산  능남고등학교  188cm   55   65   45  40  35      Python
8번    윤대협  능남고등학교  190cm  100   85   90  95  95          C#

In [31]:
df['SW특기'].str.capitalize()
# 원래는 str 함수에서 똑같은 기능을 해주는 함수가 있음
# 예시를 위해서 해본 것

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        Python
8번            C#
Name: SW특기, dtype: object